/*........................ Inserta tu código aquí */

body {
	
}
p, a {
    font-family: "Open Sans", sans-serif;
}

/*........................ Section Header */

.navbar {
    background: #EC273D !important;
}
.navbar-brand {
	font-family: "Merriweather", serif;
}

.navbar-brand, .navbar a {
    color: #F3F0BB !important;    
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}

/*........................ Section Hero */
.hero {
    background: url(../img/creamy.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}
.opacity {
	background-color:rgba(15, 16, 15, 0.71);
}
.inner-content {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;
	color: #F3F0BB
}
.hero h1 {
    font-family: "Merriweather", serif;       
}

/*........................ Section Creamy */
.creamy {
	padding: 30px 0;	
	background-color: #F3F0BB;
	color: #EC273D;
}
.creamy h3 {
    font-family: "Merriweather", serif;       
}

/*........................ Section About */
.about {
	padding: 50px 0;
	background-color: #EC273D;
	color: #F3F0BB;	
}
.about h2 {
    font-family: "Merriweather", serif;       
}

/*........................ Section Labels */
.labels {
	padding: 50px 0;	
	background-color: #F3F0BB;
	color: #EC273D;
}
.icon-labels {
	font-size: 100px;
}
.labels h3 {
    font-family: "Merriweather", serif;       
}