/*........................ Inserta tu código aquí */

body {
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Merriweather", serif;
}
p, a {
    font-family: "Open Sans", sans-serif;
}

/*........................ Header */

.navbar {
    background: #EC273D !important;
}
.navbar-brand {
	font-family: "Merriweather", serif;
}

.navbar-brand, .navbar a {
    color: #F3F0BB !important;    
}
.nav li a:hover, .nav li a:focus {
    font-weight: bold !important;
}
.nav li:hover {
    font-size:18px;
    transition:all 0.5s;
}

/*........................ Hero */
.hero {
    background: url(../img/creamy.jpg) no-repeat center;
    background-size: cover;
    min-height: 500px;
}
.opacity {
	background-color:rgba(15, 16, 15, 0.71);
}
.inner-content {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;
	color: #F3F0BB
}
.hero h1 {
    font-family: "Merriweather", serif;       
}

R: 236 G: 39 B: 61
	#EC273D

	#F3F0BB