/*........................ Inserta tu código aquí */

body {
	padding-top: 80px;
	font-family: "Merriweather", serif;
}

p, a {
    font-family: "Open Sans", sans-serif;
}

/*........................ Inserta tu código aquí */
.navbar {
    background:rgb(236,39,61) !important;
  

}
R: 236 G: 39 B: 61
	#EC273D