@media screen and (max-width:770px) {  
    .navbar-brand:hover, .navbar-brand:focus {
    font-weight: bold !important;
    }
    .nav li a:hover, .nav li a:focus {
        font-weight: bold !important;
    }
    .navbar-brand:hover, .nav li:hover {
        font-size:30px;
        transition:all 0.5s;
    }
}